.weatherApp {
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    font-family: 'Cormorant Garamond', serif;
}


main {
    padding-bottom: 40px;
}

.details {
    padding-bottom: 10px;
}

ul {
    list-style: none;
}

.forecast li {
    padding: 10px 0;
    background: lightblue;
}

li img {
    display: block;
    margin: 0 auto;
}